<div class='container-fluid col-md-offset-3 col-md-6' ng-controller='ProfileController as profile'>
  <h3 class='head-space-md'>Your profile</h3>

  <table class='table message-border table-condensed'>
    <tr>
      <td class='table-tag'>Username:</td>
      <td>{{ profile.username }}</td>
    </tr>
    <tr>
      <td class='table-tag'>Email:</td>
      <td>{{ profile.email }}</td>
    </tr>
    <tr>
      <td class='table-tag'>City:</td>
      <td ng-show='profile.city'> {{ profile.city }} </td>
    </tr>
  </table>

  <div class='foot-space-sm'>
    <div ng-show='profile.updateClicked === false'>
      <button ng-click='profile.toggleUpdate()' class='btn btn-default'>Edit City</button>
    </div>

    <form ng-show='profile.updateClicked === true'>
      <input class='form-control' type='text' ng-model='profile.address.city' placeholder="City" />
      <br>
      <button class='btn btn-default' ng-click='profile.submitUpdate(profile.address)'>Submit Edits</button>
    </form>
  </div>

  <h3 class='head-space-md line-break'>Games you are currently offering: </h3>

  <table class='table borderless whitesmoke margin-bottom-ten' ng-repeat='game in profile.gamesOffered'>
    <tr>
      <td class='col-md-1'><b>Title:</b></td> <td class='col-md-2'>{{ game.title }}</td>
      <td class='col-md-1'><b>Platform:</b></td> <td class='col-md-2'>{{ game.platform }}</td>
    </tr>
  </table>


  <form class='foot-space-sm' name="offerForm" ng-submit="profile.getGBGamesOffer(profile.gameToOffer); profile.gameToOffer.title = ''; profile.gameToOffer.platform = ''" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : offerForm.title.$invalid && !offerForm.title.$pristine }">
      Add a new title:
      <div class='row'>

        <div class='col-md-8 nopadding-right'>
          <input type="text" name="title" class="form-control" ng-model="profile.gameToOffer.title" required />
        </div>

        <div class='col-md-3 nopadding'>
          <select class="selectpicker btn btn-default form-control" role='button' ng-model='profile.gameToOffer.platform'>
            <option value="">Platform</option>
            <option value="PlayStation 4">PlayStation 4</option>
            <option value="Xbox One">Xbox One</option>
          </select>
          <p ng-show="profile.noOffPlatform" class='text-danger'>Please choose a platform.</p>
        </div>

        <div>

          <div class='col-md-1 nopadding-left' style="padding-bottom:15px;">
            <button type="submit" class="btn btn-primary padding-botton" ng-disabled="offerForm.$invalid">Add</button>
          </div>

          <div class="text-center" ng-if="loadingOffer">
            <img src="../assets/loading.gif">
          </div>

          <div class="text-center" ng-if="gamesNotFoundOffer">
            <p class="text-center">NO GAMES FOUND</p>
          </div>

          <div class="row event-slider" style="padding-top:15px;">
            <uib-carousel class="col-sm-12" style="padding-top:15px;" no-wrap="noWrapSlides">
              <uib-slide class="col-sm-12" ng-repeat="game in getGBGamesOffer" active="slide.active" ng-animate="true">

                <img ng-src="{{game.image.small_url}}" style="margin:auto;" class="img-thumbnail">
                <div class="event-inner">
                  <div style="padding-top:5px;">
                    <button type="button" style="margin-top:30px; margin-bottom: 10px; ceneter" class="btn btn-primary btn-lg btn-block" ng-click="isCollapsed = !isCollapsed">{{game.name}}</button>
                    <p>Click here to offer this game</p>
                  </div>
                </div>
                <div uib-collapse="isCollapsed" style="padding-bottom:15px;">
                  <div class="well well-lg">{{game.deck}}</div>
                  <button type="button" class="btn btn-success" ng-click="profile.addOffer(game)">Offer this game</button>
                </div>
                <hr>
              </slide>
            </carousel>
          </div>

        </div>
      </div>
    </div>
  </form>

  <h3 class='head-space-md line-break'>Games you are currently seeking: </h3>

    <table class='table borderless whitesmoke margin-bottom-ten' ng-repeat='game in profile.gamesSeeking'>
      <tr>
        <td class='col-md-1'><b>Title:</b></td> <td class='col-md-2'>{{ game.title }}</td>
        <td class='col-md-1'><b>Platform:</b></td> <td class='col-md-2'>{{ game.platform }}</td>
      </tr>
    </table>

  <form class='foot-space-sm' name="seekForm" ng-submit="profile.getGBGamesSeek(profile.gameToSeek); profile.gameToSeek.title = ''; profile.gameToSeek.platform = ''" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : seekForm.title.$invalid && !seekForm.title.$pristine }">
      Add a new title:
      <div class='row'>

        <div class='col-md-8 nopadding-right'>
          <input type="text" name="title" class="form-control" ng-model="profile.gameToSeek.title" required />
        </div>

        <div class='col-md-3 nopadding'>
          <select class="selectpicker btn btn-default form-control" role='button' ng-model='profile.gameToSeek.platform'>
            <option value="">Platform</option>
            <option value="PlayStation 4">PlayStation 4</option>
            <option value="Xbox One">Xbox One</option>
          </select>
          <p ng-show="profile.noSeekPlatform" class='text-danger'>Please choose a platform.</p>
        </div>
        <div class='col-md-1 nopadding-left'>
          <button type="submit" class="btn btn-primary" ng-disabled="seekForm.$invalid">Search Games</button>
        </div>

        <div class="text-center" ng-if="loadingSeek">
            <img src="../assets/loading.gif">
          </div>

        <div class="text-center" ng-if="gamesNotFoundSeek">
            <p class="text-center">NO GAMES FOUND</p>
          </div>

          <div class="row event-slider" style="padding-top:15px;">
            <uib-carousel class="col-sm-12" style="padding-top:15px;" no-wrap="noWrapSlides">
              <uib-slide class="col-sm-12" ng-repeat="game in getGBGamesSeek" active="slide.active" ng-animate="true">

                <img ng-src="{{game.image.small_url}}" style="margin:auto;" class="img-thumbnail">
                <div class="event-inner">
                  <div style="padding-top:5px;">
                    <button type="button" style="margin-top:30px; margin-bottom: 10px; ceneter" class="btn btn-primary btn-lg btn-block" ng-click="isCollapsed = !isCollapsed">{{game.name}}</button>
                    <p>Click here to get this game</p>
                  </div>
                </div>
                <div uib-collapse="isCollapsed" style="padding-bottom:15px;">
                  <div class="well well-lg">{{game.deck}}</div>
                  <button type="button" class="btn btn-success" ng-click="profile.addSeek(game)">Get this game</button>
                </div>
                <hr>
              </slide>
            </carousel>
          </div>

    </div>
  </form>
  <div class='col-md-8 col-md-offset-2' ng-show='profile.gamesOffered.length && profile.gamesSeeking.length'>
    <a class='btn btn-primary btn-lg btn-block active center-block signin-btn' role='button' ui-sref='main'>See available game swaps in your city!</a>
  </div>
</div>
</div>
