<div class='container-fluid' ng-controller="OffersController as offers">
  <div class="jumbotron head-space-md">
    <p class="text-center">This will contain a carousel of games people want to trade</p>
    <div class="row game-container">
      <div ng-repeat="game in offers.offers"
          ng-click="offers.selectGame(game)"
          class="col-md-4 offered-game"
          ng-class="{'selected-game': ({{game.id}} === selectedGame.id)}">
          <div class="center">
            <img ng-src="{{game.thumbnail}}" class="center boxart"/>
            <p ng-bind="game.title" class="text-center"></p>
          </div>
      </div>
    </div>
  </div>
  <div ng-if="offers.selectedGame.id">

    <div class="col-md-4">
      <div class="offered-game">
        <div class="center">
          <img ng-src="{{offers.selectedGame.thumbnail}}" class="center boxart"/>
          <p ng-bind="offers.selectedGame.title" class="text-center"></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <p> Users Offering {{offers.selectedGame.title}}</p>
      <ul ng-repeat="users in offers.gameSwappers"
    </div>
    <div class="col-md-4 bg-info">
      This is a list of games they want to trade for.
    </div>
    <div class="line-break">
      This is the call to action! (Log in to trade!)
    </div>

  </div>
</div>
