<div class='container-fluid' ng-controller="OffersController as offers">
  <div class="jumbotron head-space-md">
    <p class="text-center">Games Available for Swapping!</p>
    <div class="row game-container">
      <div ng-repeat="game in offers.offers"
          ng-click="offers.selectGame(game)"
          class="col-md-4 offered-game"
          ng-class="{'selected-game': ({{game.id}} === selectedGame.id)}">
          <div class="center">
            <img ng-src="{{game.thumbnail}}" class="center boxart"/>
            <p ng-bind="game.title" class="text-center"></p>
          </div>
      </div>
    </div>
  </div>
  <div ng-if="offers.selectedGame.id">
    <div class="row">

      <div class="col-md-4">
        <div class="offered-game">
          <div class="center">
            <img ng-src="{{offers.selectedGame.thumbnail}}" class="center boxart"/>
            <p ng-bind="offers.selectedGame.title" class="text-center"></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p> All Users Offering {{offers.selectedGame.title}}</p>
        <table class="table borderless whitesmoke margin-bottom-ten">
          <tbody>
            <tr
            ng-repeat="user in offers.selectedGame.users"
            ng-click="offers.userSeeking(user)">
              <td ng-bind="user.username"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
      class="col-md-4"
      ng-if="offers.selectedUser.id">
        <p> {{offers.selectedUser.username}} Wants These Games </p>
      </div>

      <div
      class="col-md-4"
      ng-if="!offers.selectedUser.id">
        <p>Swap for any of these Games</p>
      </div>

    </div>

    <div class="line-break">
      This is the call to action! (Log in to trade!)
    </div>

  </div>
</div>
